@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Josefin+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	
	/* background: #000 !important;*/
  	/* color: #0f0 !important;*/
  	/* outline: solid #f00 1px !important;*/

}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	font-family: Arimo, sans-serif;
    margin: 0;
    padding: 0
}

body {
	font-size: 18px;
    line-height: 1.5;
	margin: 0px;
}

body::-webkit-scrollbar {
    width: 15px;
    border-radius: 100em;
    background-color: #eee;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100em;
    background-color: rgba(0,0,255,1);
}
body::-webkit-scrollbar-track {
    border-radius: 100em;
    background-color: transparent;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

main {
    display: block;
	min-height: 100vh;
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/squared-metal.png);
    background-repeat: repeat;
	color: #2c2c2c;
	margin-left: auto;
	margin-right: auto;
		    -webkit-transition: 0.5s;   
	transition: 0.5s;
}

footer {
	color: #fff;
	background-color: #000;
	padding: 20px;
}

section {
	padding: 20px;
}

.contentBar#intro {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}

/**** Down arrow   ****/
/*
#intro:before {
  position: absolute;
  width: 45vw;
  left: 0;
  bottom: 0;
  border-bottom: 5vw solid white;
  border-right: 5vw solid transparent;
  display: block;
  content:" ";
}
#intro:after {
  position: absolute;
  left: 55vw;
  bottom: 0;
  right: 0;
  border-bottom: 5vw solid white;
  border-left: 5vw solid transparent;
  display: block;
  content:" ";
}

*/

.contentBar:nth-child(even) {
	  clip-path: polygon(
    0 10%, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
}

/* Links ========================================================================== */
/** * Remove the gray background color from active links in IE 10. */
a {
    background: transparent;
	color: #818181;
    font-weight: 700;
    text-decoration: none;
		-webkit-transition: 0.3s;   
	transition: 0.3s;
}

/** * Improve readability when focused and also mouse hovered in all browsers. */
a:active,a:hover {
    outline: 0;
		-webkit-transition: 0.3s;   
	transition: 0.3s;
	color: #f1f1f1
}

/** * Address inconsistent and variable font size in all browsers. */
small {
    font-size: 80%
}

/** * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}



h1,h2,h3,h4,h5,h6 {
    display: block;
	text-transform:uppercase;
	margin: 0;
}

.darkBG h1,.darkBG h2,.darkBG h3,.darkBG h4,.darkBG h5,.darkBG p, .darkBG {
    color: #fff
}

h1 {
	font-size:4vmax;
	font-family: Josefin Sans;
}

h2 {
	font-size:3.5vmax;
	font-family: Josefin Sans;
}

h3 {
	font-size:3vmax;
	font-family: Josefin Sans;
}

h4 {
	font-size:2.25vmax;
	font-family: Josefin Sans;
}

h5 {
	font-size:1.5vmax;
	font-family: Josefin Sans;
}

h6 {
	font-size:1vmax;
	font-family: Josefin Sans;
}

h1:before {
    content: " ";
    position: relative;
    display: inline-block;
    background: rgba(0,0,255,1);
    width: 3px;
    height: .75em;
	margin-right: .25em;
}


figure {
	margin: 0;
	padding: 0;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}



/*  Navigation  */

.slide-in {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
		    -webkit-transition: 0.5s;   
	transition: 0.5s;
}

.slide-in a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
        -webkit-transition: 0.3s;   
	transition: 0.3s;
}

.slide-in a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.slide-in.active {
	width:100%;
	    -webkit-transition: 0.5s;   
	transition: 0.5s;
}

#side-menu {
	display:inline-block;
	max-width: calc(25% - 10px);
	float:left;
	padding-right: 20px;
	padding-top: 6em;
	background-color: #111;
	height:100%;

}

#menu-images {
	display:inline-block;
	max-width: 76%;
	overflow-y: hidden;
}


/*************     Menu image change - replaced with div background-image
#menu-images img {
	display:none;
		    -webkit-transition: 0.5s;   
	transition: 0.5s;
	padding: 2em;
	width:100%;
	height:100vh;
}

#menu-images img.current {
	display:initial;
		    -webkit-transition: 0.5s;   
	transition: 0.5s;
}

*/



#menu-button {
	position:fixed;
	z-index:1000;
	padding: 1em;
	top: 0;
	right: 0;
	cursor: pointer;
}

/******** Move the menu icon when the menu is opened
#menu-button.menu-open {
	right: 100%;
}

*/

ul.nav-bar {
	list-style-type:none;
}
/*  menu icon  */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: yellow;
    margin: 6px 0;
    -webkit-transition: 0.5s;   
	transition: 0.5s;

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Panels and shading*/

.shade {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}

.shade-white {
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.7);
}

.panel_100 {
	min-height: 100vh;
}
.panel_75{
	min-height: 75vh;
}

.panel_67 {
	min-height: 67vh;
}

.panel_50 {
	min-height: 50vh;	
}

.panel_33 {
	min-height: 33vh;
}

.panel_25 {
	min-height: 25vh;
}

/* Content Wrappers */

.contentBar {
    width: 100%;
	position:relative;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
	
	    display: -webkit-flex;
    	display: flex;
    -webkit-flex-direction: row; /* works with row or column */ 
		flex-direction: row;
    -webkit-align-items: center;
    	align-items: center;
    -webkit-justify-content: center;
    	justify-content: center;
}

.container {
	max-width:960px;
	width:100%;
	position:relative;
	margin-right: auto;
	margin-left: auto;
}

.flex-container {
    display: -webkit-flex;
    	display: flex;
    -webkit-flex-direction: row; /* works with row or column */ 
		flex-direction: row;
    -webkit-align-items: center;
    	align-items: center;
    -webkit-justify-content: center;
    	justify-content: center;
}

#about-me-container {
    border-left: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    width: 85%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.dots-overlay {
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/video-overlay-texture.png);
    background-size: initial !important;
    background-repeat: repeat !important;
}

.light-mesh {
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/light-mesh.png);
	background-color: #455A21;
    color: #ffffff;
    background-size: 256px !important;
    background-repeat: repeat !important;
}

.eggshell {
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/egg-shell-bg.png);
    background-size: initial !important;
    background-repeat: repeat !important;
}

.tv-static {
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/cardboard-bg.png);
    background-size: initial !important;
    background-repeat: repeat !important;
}

.pixelated-squares {
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/bright-squares.png);
    background-size: initial !important;
    background-repeat: repeat !important;
	
}
.small-triangles {
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/triangles.png);
    background-size: initial !important;
    background-repeat: repeat !important;
}

.squared-metal {
	background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/textures/squared-metal.png);
    background-size: initial !important;
    background-repeat: repeat !important;
}

.shatteredGlass {
	background-color: #2c2c2c;
    background-image: url(https://static.smallworldlabs.com/quest/content/images/conferences/General/shattered%20glass%20background%20compressed.png);
    background-size: initial !important;
    background-repeat: repeat !important;
}

.darkDiamonds {
    color: #ffffff;
    background-color: #000;
    background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
    background-size: initial !important;
    background-repeat: repeat !important;
}

.denver {
    background-image: url(https://s3.amazonaws.com/ai.quest/WebsiteImages/generic/denver+tiny.jpg);
	background-attachment: inherit;
	background-position: center;
}

.mandalay-bay {

    background-image: url(https://s3.amazonaws.com/ai.quest/COLLABORATE/2018/mandalay-bay-ext-tiny.jpg);
	background-attachment: inherit;
	background-position: center;	
}

/*  Page sections  */

#intro {
	background-image: url(https://s3.amazonaws.com/ai.quest/z/skyline.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#intro h2 {
    font-weight: 400;
    font-size: 2.5vmax;
    text-transform: none;
}


#kitten-princess {
    position: relative;
    overflow: hidden;
    background-image: url(https://lh3.googleusercontent.com/gC4HGOtgtuYvcm6U0IAQOWhdz0WMDtyH9blds6d-IPoo--i9BLWc84zXr-380IPk6870lPwGNtbFhih4o3fklItfH_LqfkkUNHSjg3f32j5ZDnrKOdZ-LQA8cQ7fWrn97ktObLrLOw);
    background-repeat: no-repeat;
    background-size: auto 105%;
    background-position: 90% 0%;
    background-attachment: scroll !important;
}


/*  Content Boxes  */
.content_100 {
	width: 100%;
	padding: 15px;
}
.content_threeCols {
	width: calc(33% - 1px);
	padding: 15px;
	display: inline-block;
	vertical-align: top
}

.content_oneTenth {
	width: calc(10% - 10px);
	padding: 5px;
	display: inline-block;
	vertical-align: top
}

.content_nineTenths {
	width: calc(90% - 10px);
	padding: 5px;
	display: inline-block;
	vertical-align: top
}

.content_twoCols, li.twoCols {
	width: calc(50% - 5px);
	padding: 15px;
	display: inline-block;
	vertical-align: top
}
li.twoCols  {
	padding: 6px 15px;
	list-style: disc !important;	
}
.content_twoThirds {
	width: calc(67.7% - 30px);
	padding: 15px;
	display: inline-block;
	vertical-align: top
}
.content_oneFourth {
	width: calc(25% - 30px);
	padding: 15px;
	display: inline-block;
	vertical-align: top
}
.content_threeFourths {
	width: calc(80% - 35px);
	padding: 15px;
	display: inline-block;
	vertical-align: top
}
.content_noPadd {
	padding: 0 !important;
}


.justifyCenter {
    text-align: center !important
}

.justifyRight {
    text-align: right !important
}

.justifyLeft {
    text-align: left !important
}

.indentLeft {
    padding-left: 25px
}

/* Remove padding */
.left {
    padding-left: 0px !important
}

.right {
    padding-right: 0px !important
}

.top {
	padding-top: 0px !important
}

.bottom {
	padding-bottom: 0px !important
}

/*  images  */
img {
    max-width: 100%;
    height: auto;
}


.icon-left {
    width: 15% !important;
    margin: 1em 1em 1em 0;
    padding: .5em;
    display: inline-block;
}

.headshot {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.headshot img {
    border-radius: 100em;
    border: 0.25em solid #fff;
}

#about-me-info .headshot {
    margin: -1em 1em 0em -12%;
    width: 20%;
    float: left;
}

/* Image Wrappers */
.imageLeft {
	padding: .5em .5em .5em 0;
	width: 100%;
	max-width: 33%;
	display: inline-block;
	float: left
}
.imageRight {
	padding: .5em 0 .5em .5em;
	width: 100%;
	max-width: 33%;
	display: inline-block;
	float: right;
	text-align: right
}
.imageWide {
	max-width: 100%;
	padding: .5em 0;
	text-align: center
}
.imageLeft.top, .imageRight.top, .imageWide.top {
	padding-top: 0
}
.imageLeft img, .imageRight img, .imageWide img {
	width: 100%;
	height: auto;
	padding: 0
}


/* Add a span into image wrapper to caption */
.imageLeft span, .imageRight span, .imageWide span {
	width: 100%;
	height: auto;
	font-size: .75em;
	background-color: #ffffff;
	padding: .5em;
	display: block;
}

/* Video Wrapper */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
	margin: 1em 0
}
.imageLeft .videoWrapper, .imageRight .videoWrapper, .imageWide .videoWrapper {
	margin: 0
}
.videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}


/*  Social icons  */

.social-row {
	display:flex;
	font-size: 2.375rem;
}

.social-row > div {
	margin-right: 20px;
}


/*  Buttons  */

.button {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: .75em 2em;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}

.button.cta {
    background-color: #FFA400;
}

.button.cta:hover {
    background-color: #C46700;
}

.button.cta:active {
    background-color: #C46700;
}

.button--primary {
    background-color: #455A21;
    border-color: #455A21;
    color: #FFF
}

.button--primary:hover {
    background-color: #27350F;
    border-color: #27350F
}

.button--primary:active {
    background-color: #2E2E2E;
    border-color: #2E2E2E;
    color: #C4D600
}

.button--secondary {
    border-color: #455A21;
    color: #455A21
}

.button--secondary:hover {
    background-color: #F9F2D8
}

.button--secondary:active {
    background-color: #455A21;
    color: #FFF
}

/*  Form styling  */
input, select, textarea {
	display: inline-block; 
}

input[type="text"], input[type="password"], textarea {
	width: 100%;
	padding: .5em;
	border: 0px;
	font-size: 1.25em; 
	font-family: sans-serif;
}

.form-entry_50 {
    display: inline-block;
    width:calc(50% - 2.5px);
    padding: 10px;   
}

.form-entry_50:last-child {
    padding-right: 0px !important;
}



.form-entry_100 {
    display: block;
    width:100%;
    padding:10px;
}

.form-entry .input-container {
    margin-bottom: 20px;
}


.form-entry_50 select {
   display: inline-block;
   width: 100%;
}

ul.js-expand {
    list-style-type: none;
}

ul.js-expand li.js-expand-content {
    margin: 1em auto;
}


.js-expand-title {
    cursor: pointer;
    color: #fff !important;
    display: block;
    position: relative;
    background-color: white;
    padding: .25em 1.25em .25em 1em;
    border: 1px solid #9b9b9b;
    border-right: 3em solid #f80000;
}

.js-expand-title:after {
    color: #FFF;
    font-family: FontAwesome;
    content: '\f100';
    font-size: 2em;
    position: absolute;
    top: 50%;
    right: -1em;
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

li.active .js-expand-title:after {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.js-expand-container {
    display:none;
    position: relative;
    background-color: white;
    color: #2c2c2c;
    margin-top: 0px;
    padding: .25em 2em;
    border: 1px solid #9b9b9b;
    border-top: 0px;
}

.js-expand-container:before {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    content:" ";
    background-image: -webkit-gradient(linear, top left, top right, color-stop(25%, #cad9de), color-stop(50%, #8aadbf),color-stop(75%, #324b5c));
    background-image: linear-gradient(top, #cad9de 25%, #8aadbf 50%,#324b5c 75%);
    background-image: -webkit-linear-gradient(top, #cad9de 25%, #8aadbf 50%,#324b5c 75%);
    background-image: -o-linear-gradient(top, #cad9de 25%, #8aadbf 50%,#324b5c 75%);
    background-image: -ms-linear-gradient(top, #cad9de 25%, #8aadbf 50%,#324b5c 75%);
    height: 100%;
    width: .75em;
}




/*  @media classes  */
@media screen and (max-width: 1024px) 
{

#intro, .contentBar {
    background-attachment: scroll;
}
}

@media screen and (max-width: 960px)
{
	.slide-in.active {
	width:100%;
}
	#side-menu {
		width: 100%;
		max-width:100%;
	}
	
	#menu-images {
		display:none;
	}
	
	.panel_75, .panel_67, .panel_50, .panel_33, .panel_25 {
		min-height:100vh;
		-webkit-transition: min-height 1000s steps(1);   /*  prevent mobile jump */
		transition: min-height 1000s steps(1);
	}
	
	.indentLeft {
		margin-left: 0;
	}
	
	
}


@media screen and (max-width: 768px)
{
	main {
		text-align:center;
		}
			
	.contentBar {
		padding: 1em;
		clip-path: none !important
		}
	
	.content_threeCols, .content_twoCols, .imageLeft, .imageRight, .content_twoThirds, .content_threeFourths, .content_oneFourth, .content_nineTenths, .content_oneTenth, .item .headshot, .item .quote {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		padding: 15px;
		display: block;
		float: none;
		text-align:center;
		}
	
	.flex-container {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	
	#about-me-container {
		width: 100%;
		border: 0px;
    		margin: 1em auto;
	}
	
	#about-me-info {
    		margin: 1em 0 !important;
    		padding: 0;
	}
	
	#about-me-info .headshot {
    		margin-left: auto;
   		margin-right: auto;
    		float: none;
    		width: 35%;
	}
	
	.headshot:after {
    		display: block;
    		position: absolute;
    		content: " ";
    		width: 250%;
    		border-top: 1px dashed #fff;
    		top: 50%;
    		left: -75%;
    		z-index: -1;
	}
}
	
	

@media screen and (max-height: 450px) {
  .slide-in {padding-top: 15px;}
  .slide-in a {font-size: 18px;}
}


