@charset "utf-8";

.input-container {
margin-bottom: .5em !important;
}

.disabled {
    background-color: gray !important;
    opacity: .4;
    cursor: default;

}

button.button.cta.disabled {
    background-color: gray !important;
    opacity: .4;
    cursor: default;
}


#reg-form-container {
   overflow-x: hidden;
   position:relative;
   display:block;
   min-height: 425px;
   width:50%;
   margin-left: auto;
   margin-right: auto;

}

#reg-form-interior {
    position: absolute;
    flex-direction: row;
    width: 200%;
    display: flex;
}

#reg-form-page-one {
    display: flex;
    flex-direction: column;
}



#reg-form-interior .day-checkboxes {
    color: #fff !important;
    padding: 1em 0;
}

#reg-form-interior .select-container {
background-color: #fff !important;
border-radius: 3px;
}


.slide-right {
    left: -100% !important;
		transition: all 0.25s linear 0s;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		-o-transition: all 0.25s ease-out;
}

.slide-left {
    left: 0% !important;
    transition: all 0.25s linear 0s;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}


@media screen and (max-width : 1024px) {

.width_50, .width_40, .width_33, .width_25, .width_20, .width_15 {
    width: 100%;
}

#reg-form-container {
   overflow-x: initial;
}

#reg-form-interior {
    position:relative;
    width:100%;
    cursor: pointer;
}

#go-to-page-two {
    display:none;
}

#reg-form-interior .day-checkboxes {
    text-align:left;
}
